<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
</head>

<body>

	{&#39;name&#39;: &#39;에어팟&#39;, &#39;desc&#39;: &#39;요즘 인싸아이템!! 지하철에서 에어팟을 안낀 사람이 없다!! 상대가 에이팟이 없다면!&#39;,
	&#39;image&#39;: &#39;KLLOCdxA.jpg&#39;, &#39;common_price&#39;: 200000, &#39;comment&#39;: [], &#39;weight&#39;:
	0.85}
	<div class="card" style="width: 18rem;">
		<img src="/files/KLLOCdxA.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">에어팟</h5>
			<p class="card-text">요즘 인싸아이템!! 지하철에서 에어팟을 안낀 사람이 없다!! 상대가 에이팟이 없다면!</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	{&#39;name&#39;: &#39;이모티콘&#39;, &#39;desc&#39;: &#39;선물주어야하지만 친하지않거나 가볍게 선물할때&#39;, &#39;image&#39;:
	&#39;CHpBTbLY.jpg&#39;, &#39;common_price&#39;: 2000, &#39;comment&#39;: [], &#39;weight&#39;: 0.78}
	<div class="card" style="width: 18rem;">
		<img src="/files/CHpBTbLY.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">이모티콘</h5>
			<p class="card-text">선물주어야하지만 친하지않거나 가볍게 선물할때</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	{&#39;name&#39;: &#39;디퓨저&#39;, &#39;desc&#39;: &#39;적당히 친한 지인들에게 싸진 않지만 적당한 가격에 줄 수 있는 선물&#39;, &#39;image&#39;:
	&#39;tYpmBQZJ.jpg&#39;, &#39;common_price&#39;: 30000, &#39;comment&#39;: [], &#39;weight&#39;: 0.77}
	<div class="card" style="width: 18rem;">
		<img src="/files/tYpmBQZJ.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">디퓨저</h5>
			<p class="card-text">적당히 친한 지인들에게 싸진 않지만 적당한 가격에 줄 수 있는 선물</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

</body>

</html>